n8n-exemplos/fluxo-n8n-v95-chat-ia-leme.json
{
  "name": "v95 - IA LEME Chat Interno",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-ia-leme-teste",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b0e1db5e-7b8d-45a0-b55b-8d2f3a470c11",
      "name": "Receber pergunta do Sistema",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -880,
        160
      ],
      "webhookId": "6db69f64-a017-4e20-9937-chatialeme95"
    },
    {
      "parameters": {
        "url": "https://www.sistemaleme.com.br/api/sync",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "COLE_AQUI_A_SUA_N8N_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "0243ef36-c2f8-47e7-b2bc-384a02e1b9b1",
      "name": "Buscar dados do Sistema LEME",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -656,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const webhook = $('Receber pergunta do Sistema').first().json || {};\nconst body = webhook.body || webhook || {};\nconst data = $json || {};\n\nconst pergunta = String(body.message || body.pergunta || body.question || '').trim();\nif (!pergunta) {\n  return [{ json: { ok: false, error: 'Pergunta vazia.' } }];\n}\n\nfunction cleanObject(obj = {}) {\n  const out = {};\n  for (const [key, value] of Object.entries(obj || {})) {\n    if (value === undefined || value === null || value === '') continue;\n    if (/logo|base64|imagem|image|file|arquivo|anexo/i.test(key)) continue;\n    if (typeof value === 'object') continue;\n    out[key] = value;\n  }\n  return out;\n}\n\nconst clientes = (data.clientes || data.data?.clientes || []).map(c => cleanObject(c));\nconst colaboradores = (data.colaboradores || data.data?.colaboradores || []).map(c => cleanObject(c));\nconst publicacoes = (data.publicacoes || data.data?.publicacoes || []).map(p => cleanObject(p));\nconst eventos = (data.eventos || data.data?.eventos || []).map(e => cleanObject(e));\nconst financeBoxes = (data.finance_boxes || data.caixinhas || data.data?.finance_boxes || []).map(b => cleanObject(b));\nconst financeMovements = (data.finance_movements || data.movimentacoes || data.data?.finance_movements || []).map(m => cleanObject(m));\nconst prospects = (data.crm_prospects || data.data?.crm_prospects || []).map(p => cleanObject(p));\nconst acoesCrm = (data.crm_acoes || data.data?.crm_acoes || []).map(a => cleanObject(a));\n\nconst contexto = {\n  atualizado_em: new Date().toISOString(),\n  usuario: body.user || {},\n  historico_recente: Array.isArray(body.history) ? body.history.slice(-8).map(h => ({ role: h.role, content: h.content })) : [],\n  clientes,\n  colaboradores,\n  publicacoes,\n  eventos,\n  financeiro: {\n    caixinhas: financeBoxes,\n    movimentacoes: financeMovements\n  },\n  crm: {\n    prospects,\n    acoes: acoesCrm\n  }\n};\n\nreturn [{\n  json: {\n    ok: true,\n    pergunta,\n    contexto_json: JSON.stringify(contexto, null, 2)\n  }\n}];"
      },
      "id": "880eea8c-e1b9-45d9-9210-20fd4c68d740",
      "name": "Preparar contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0d669608-e6f2-4a14-91a7-2fbd2f7a9e64",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fc7ec51b-5f42-4348-9d5c-2476757b57fa",
      "name": "Pergunta válida?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        160
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Pergunta do usuário:\n{{ $json.pergunta }}\n\nDados atuais do Sistema LEME em JSON:\n{{ $json.contexto_json }}",
        "options": {
          "systemMessage": "Você é a IA interna da LEME Marketing Médico. Responda em português do Brasil, de forma direta, prática e organizada. Use exclusivamente os dados enviados no JSON do Sistema LEME.\n\nVocê pode responder perguntas sobre clientes, acessos, senhas, publicações, responsáveis, Drive, grupos de aprovação, finanças, CRM e rotina interna. Esses dados são internos e sensíveis. Não invente dados. Se não encontrar a informação, diga exatamente que não encontrou no cadastro.\n\nQuando a pergunta envolver senha ou acesso, responda apenas o necessário, sem expor outros acessos que não foram pedidos.\n\nQuando houver mais de uma possibilidade de cliente, cite as opções e peça para especificar.\n\nNunca diga que não pode acessar o sistema, pois os dados foram fornecidos no JSON. Nunca cite que recebeu um JSON. Responda como assistente operacional da LEME."
        }
      },
      "id": "ee960308-22e1-4ba1-9e29-f93158a73f28",
      "name": "Responder com IA LEME",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        32,
        48
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.1
        }
      },
      "id": "852297e4-859f-4f84-924f-f15276252f0d",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        32,
        272
      ],
      "credentials": {
        "openAiApi": {
          "id": "anAdOOhaXw7hSymm",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, answer: $json.output || $json.text || $json.resposta || '', resposta: $json.output || $json.text || $json.resposta || '' } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "b5689de7-ed4e-4b2e-9024-62a6e572ca4a",
      "name": "Responder ao Sistema LEME",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        400,
        48
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: false, error: $json.error || 'Pergunta vazia.' } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "0e085df7-02d9-4f25-ae54-5e03fe4e5ad8",
      "name": "Responder erro",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        32,
        272
      ]
    }
  ],
  "connections": {
    "Receber pergunta do Sistema": {
      "main": [
        [
          {
            "node": "Buscar dados do Sistema LEME",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar dados do Sistema LEME": {
      "main": [
        [
          {
            "node": "Preparar contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar contexto": {
      "main": [
        [
          {
            "node": "Pergunta válida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pergunta válida?": {
      "main": [
        [
          {
            "node": "Responder com IA LEME",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder com IA LEME": {
      "main": [
        [
          {
            "node": "Responder ao Sistema LEME",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Responder com IA LEME",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eebe9e81565ae11dc9ed66e2d5f5c4a5d65cd698a84c8ada275e87203f331f98"
  }
}
